body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #12101e!important;
}
.container-fluid{
    padding: 0 !important;
}
.container{
    margin-top: 30px;
}
.container .carousel-item img{
    height: 526px !important;
    opacity: .6;
}
.carousel-item{
    border-radius: 10px;
    overflow: hidden;
}
nav{
    position: sticky;
}
nav ul li p{
    margin: 0;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: white;
}

nav ul{
    height: 70px;
    padding: 10px 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content:center;
}
nav .list{
    display: flex;
    align-items: center;
}
nav{
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
}
nav ul .logo{
    margin: 0 30px;
}
nav ul .list a{
    font-variant: all-petite-caps;
    margin: 0 20px;
    color: rgba(255, 255, 255, 0.6);
}

nav ul .list a:after{
    display: block;
    content: '';
    border: 1.5px solid rgb(255, 255, 255);
    transform: scaleX(0);
    transition: all 150ms linear;
    transform-origin: left;
}
nav ul .list a:hover:after,
nav ul .list a.active:after{
    transform: scaleX(1);
}
nav ul .list a:hover,
nav ul .list a.active{
    color: rgb(255, 255, 255);
}

.container-fluid .sliders img{
    width: 100%;
    height: 100%;
}
.container .carousel-caption a{
    text-decoration: none;
    color: white;
    padding: 5px 15px 8px ;
    border: 2px solid red;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.392);
    transition: all 100ms linear;
}
.container .carousel-caption a:hover{
    background-color: red;
}
.container-fluid .main{
    height: 100vh;
    background-image: url('./assets/avengers.jpg');
    background-position: center;
    background-size: cover;
    
}
.main h1{
    position: absolute;
    top: 300px;
    left: 80px;
    font-variant: all-petite-caps;
}
.contact a{
    text-decoration: none;
    color: white; 
}
.about{
    color: white;
    margin: 30px 300px;
}
.about p::first-letter{
    font-size: 2rem;
    color: red;
}
footer{
    margin-bottom: 20px;
    height: 120px;
    background-color: black;
}
footer ul a{
    text-decoration: none;
    color: white;
}
footer ul li{
    margin: 0 20px;
    list-style: none;
}
footer ul li p{
    margin: 0;
}
footer ul{
    margin: 0;
}










@media (max-width:770px) {
    .container-fluid .carousel-item img{
        height:450px !important;
    }
    .about{
        margin: 30px 50px !important;
    }
}
@media (max-width:486px) {
    ul{
        height: 90px !important;
        margin-top: 20px !important;
        display: flex;
        flex-direction: column;
    }
    nav .list{
        order: 2;
    }
    nav .logo{
        order: 1;
    }
}
@media (max-width:850px) {
    .about{
        margin: 30px 200px;
    }
}
@media (max-width:400px) {
    .about{
        margin: 30px !important;
    }
}